body {
  background-color: rgb(1, 44, 9);
  padding: 15px; 
  border: 10px;
  border-style: ridge;
  border-width: 10px;
  border-color: antiquewhite;
}

.container {
  width: 280px;
  color: #314d3e;
  padding: 35px;
  border-radius: 10px;
  background-color: antiquewhite;
}

.title {
  font-family: fantasy;
  border: 10px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  padding: 8px;
}


.bookmarks {
  margin: 5px 5px;
  padding: 3px;
  font-size: 16px;
}

.bookmark {
  display: flex;
  border-color: #314d3e;
  border-width: 2px;
  border-bottom-color: #314d3e;
  border-bottom-width: 6px;
  border-bottom-style: solid;
  border-radius: 100px;
  padding: 3px;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.bookmark-title {
  padding-left: 2px;
}

.bookmark-controls img {
  margin: 0 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.bookmark-controls {
  flex: auto;
  text-align: right;
}